@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Bh-NwQwMnU0W_font-family: "Inter", sans-serif;
  --mixin-Bh-NwQwMnU0W_font-size: 16px;
  --mixin-Bh-NwQwMnU0W_font-weight: 400;
  --mixin-Bh-NwQwMnU0W_font-style: normal;
  --mixin-Bh-NwQwMnU0W_color: #535353;
  --mixin-Bh-NwQwMnU0W_text-align: left;
  --mixin-Bh-NwQwMnU0W_text-transform: none;
  --mixin-Bh-NwQwMnU0W_line-height: 1.5;
  --mixin-Bh-NwQwMnU0W_letter-spacing: normal;
  --mixin-Bh-NwQwMnU0W_white-space: pre-wrap;
  --mixin-Bh-NwQwMnU0W_user-select: text;
  --mixin-Bh-NwQwMnU0W_text-decoration-line: none;
  --mixin-Bh-NwQwMnU0W_text-overflow: clip;
  --mixin-xNQevw4ZLtat_color: #000000;
  --mixin-xNQevw4ZLtat_font-weight: 700;
  --mixin-xNQevw4ZLtat_font-size: 64px;
  --mixin-xNQevw4ZLtat_line-height: 1;
  --mixin-xNQevw4ZLtat_letter-spacing: -1px;
  --mixin-xNQevw4ZLtat_white-space: pre-wrap;
  --mixin-4qTqU9qWlJ0-_color: #000000;
  --mixin-4qTqU9qWlJ0-_font-size: 48px;
  --mixin-4qTqU9qWlJ0-_font-weight: 700;
  --mixin-4qTqU9qWlJ0-_letter-spacing: -0.5px;
  --mixin-4qTqU9qWlJ0-_line-height: 1.1;
  --mixin-4qTqU9qWlJ0-_white-space: pre-wrap;
  --mixin-G0e3SH1_5a1b_color: #0070f3;
  --mixin-G0e3SH1_5a1b_white-space: pre-wrap;
  --mixin-3XFaG_oF4zgN_color: #000000;
  --mixin-3XFaG_oF4zgN_font-size: 32px;
  --mixin-3XFaG_oF4zgN_font-weight: 600;
  --mixin-3XFaG_oF4zgN_line-height: 1.2;
  --mixin-3XFaG_oF4zgN_white-space: pre-wrap;
  --mixin-G0eLQ3oCHyMf_color: #000000;
  --mixin-G0eLQ3oCHyMf_font-size: 24px;
  --mixin-G0eLQ3oCHyMf_font-weight: 600;
  --mixin-G0eLQ3oCHyMf_line-height: 1.3;
  --mixin-G0eLQ3oCHyMf_white-space: pre-wrap;
  --mixin-jm6EJ9fPxoE4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jm6EJ9fPxoE4_border-bottom-color: #dddddd;
  --mixin-jm6EJ9fPxoE4_border-bottom-style: solid;
  --mixin-jm6EJ9fPxoE4_border-bottom-width: 1px;
  --mixin-jm6EJ9fPxoE4_border-left-color: #dddddd;
  --mixin-jm6EJ9fPxoE4_border-left-style: solid;
  --mixin-jm6EJ9fPxoE4_border-left-width: 1px;
  --mixin-jm6EJ9fPxoE4_border-right-color: #dddddd;
  --mixin-jm6EJ9fPxoE4_border-right-style: solid;
  --mixin-jm6EJ9fPxoE4_border-right-width: 1px;
  --mixin-jm6EJ9fPxoE4_border-top-color: #dddddd;
  --mixin-jm6EJ9fPxoE4_border-top-style: solid;
  --mixin-jm6EJ9fPxoE4_border-top-width: 1px;
  --mixin-jm6EJ9fPxoE4_border-bottom-left-radius: 3px;
  --mixin-jm6EJ9fPxoE4_border-bottom-right-radius: 3px;
  --mixin-jm6EJ9fPxoE4_border-top-left-radius: 3px;
  --mixin-jm6EJ9fPxoE4_border-top-right-radius: 3px;
  --mixin-jm6EJ9fPxoE4_font-family: "Inconsolata";
  --mixin-jm6EJ9fPxoE4_padding-bottom: 1px;
  --mixin-jm6EJ9fPxoE4_padding-left: 4px;
  --mixin-jm6EJ9fPxoE4_padding-right: 4px;
  --mixin-jm6EJ9fPxoE4_padding-top: 1px;
  --mixin-jm6EJ9fPxoE4_white-space: pre-wrap;
  --mixin-GV4f2ay5haAQ_border-left-color: #dddddd;
  --mixin-GV4f2ay5haAQ_border-left-style: solid;
  --mixin-GV4f2ay5haAQ_border-left-width: 3px;
  --mixin-GV4f2ay5haAQ_color: #888888;
  --mixin-GV4f2ay5haAQ_padding-left: 10px;
  --mixin-GV4f2ay5haAQ_white-space: pre-wrap;
  --mixin-2OM-jWAn8E8B_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2OM-jWAn8E8B_border-bottom-color: #dddddd;
  --mixin-2OM-jWAn8E8B_border-bottom-style: solid;
  --mixin-2OM-jWAn8E8B_border-bottom-width: 1px;
  --mixin-2OM-jWAn8E8B_border-left-color: #dddddd;
  --mixin-2OM-jWAn8E8B_border-left-style: solid;
  --mixin-2OM-jWAn8E8B_border-left-width: 1px;
  --mixin-2OM-jWAn8E8B_border-right-color: #dddddd;
  --mixin-2OM-jWAn8E8B_border-right-style: solid;
  --mixin-2OM-jWAn8E8B_border-right-width: 1px;
  --mixin-2OM-jWAn8E8B_border-top-color: #dddddd;
  --mixin-2OM-jWAn8E8B_border-top-style: solid;
  --mixin-2OM-jWAn8E8B_border-top-width: 1px;
  --mixin-2OM-jWAn8E8B_border-bottom-left-radius: 3px;
  --mixin-2OM-jWAn8E8B_border-bottom-right-radius: 3px;
  --mixin-2OM-jWAn8E8B_border-top-left-radius: 3px;
  --mixin-2OM-jWAn8E8B_border-top-right-radius: 3px;
  --mixin-2OM-jWAn8E8B_font-family: "Inconsolata";
  --mixin-2OM-jWAn8E8B_padding-bottom: 3px;
  --mixin-2OM-jWAn8E8B_padding-left: 6px;
  --mixin-2OM-jWAn8E8B_padding-right: 6px;
  --mixin-2OM-jWAn8E8B_padding-top: 3px;
  --mixin-2OM-jWAn8E8B_white-space: pre-wrap;
  --mixin-JJy0J-gtJ_qp_display: flex;
  --mixin-JJy0J-gtJ_qp_flex-direction: column;
  --mixin-JJy0J-gtJ_qp_align-items: stretch;
  --mixin-JJy0J-gtJ_qp_justify-content: flex-start;
  --mixin-JJy0J-gtJ_qp_list-style-position: outside;
  --mixin-JJy0J-gtJ_qp_padding-left: 40px;
  --mixin-JJy0J-gtJ_qp_position: relative;
  --mixin-JJy0J-gtJ_qp_list-style-type: disc;
  --mixin-JJy0J-gtJ_qp_white-space: pre-wrap;
  --mixin-CdhKvnhprZf3_display: flex;
  --mixin-CdhKvnhprZf3_flex-direction: column;
  --mixin-CdhKvnhprZf3_align-items: stretch;
  --mixin-CdhKvnhprZf3_justify-content: flex-start;
  --mixin-CdhKvnhprZf3_list-style-position: outside;
  --mixin-CdhKvnhprZf3_padding-left: 40px;
  --mixin-CdhKvnhprZf3_position: relative;
  --mixin-CdhKvnhprZf3_list-style-type: decimal;
  --mixin-CdhKvnhprZf3_white-space: pre-wrap;
  --mixin-KesrOv0tWRnu_color: #000000;
  --mixin-KesrOv0tWRnu_font-size: 20px;
  --mixin-KesrOv0tWRnu_font-weight: 600;
  --mixin-KesrOv0tWRnu_line-height: 1.5;
  --mixin-KesrOv0tWRnu_white-space: pre-wrap;
  --mixin-wJOekrhQ48JP_color: #000000;
  --mixin-wJOekrhQ48JP_font-size: 16px;
  --mixin-wJOekrhQ48JP_font-weight: 600;
  --mixin-wJOekrhQ48JP_line-height: 1.5;
  --mixin-wJOekrhQ48JP_white-space: pre-wrap;
  --mixin-EbwsS0tpslK-_color: #3291ff;
  --mixin-EbwsS0tpslK-_white-space: pre-wrap;
  --mixin-KCXSKNBydDMt_white-space: pre-wrap;
  --mixin-H_mUmmKXlM8L_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles {
    --mixin-xNQevw4ZLtat_font-size: 48px;
    --mixin-xNQevw4ZLtat_white-space: pre-wrap;
  }
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Bh-NwQwMnU0W_font-family);
  font-size: var(--mixin-Bh-NwQwMnU0W_font-size);
  font-weight: var(--mixin-Bh-NwQwMnU0W_font-weight);
  font-style: var(--mixin-Bh-NwQwMnU0W_font-style);
  color: var(--mixin-Bh-NwQwMnU0W_color);
  text-align: var(--mixin-Bh-NwQwMnU0W_text-align);
  text-transform: var(--mixin-Bh-NwQwMnU0W_text-transform);
  line-height: var(--mixin-Bh-NwQwMnU0W_line-height);
  letter-spacing: var(--mixin-Bh-NwQwMnU0W_letter-spacing);
  white-space: var(--mixin-Bh-NwQwMnU0W_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-xNQevw4ZLtat_color);
  font-weight: var(--mixin-xNQevw4ZLtat_font-weight);
  font-size: var(--mixin-xNQevw4ZLtat_font-size);
  line-height: var(--mixin-xNQevw4ZLtat_line-height);
  letter-spacing: var(--mixin-xNQevw4ZLtat_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-4qTqU9qWlJ0-_color);
  font-size: var(--mixin-4qTqU9qWlJ0-_font-size);
  font-weight: var(--mixin-4qTqU9qWlJ0-_font-weight);
  letter-spacing: var(--mixin-4qTqU9qWlJ0-_letter-spacing);
  line-height: var(--mixin-4qTqU9qWlJ0-_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-G0e3SH1_5a1b_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-3XFaG_oF4zgN_color);
  font-size: var(--mixin-3XFaG_oF4zgN_font-size);
  font-weight: var(--mixin-3XFaG_oF4zgN_font-weight);
  line-height: var(--mixin-3XFaG_oF4zgN_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-G0eLQ3oCHyMf_color);
  font-size: var(--mixin-G0eLQ3oCHyMf_font-size);
  font-weight: var(--mixin-G0eLQ3oCHyMf_font-weight);
  line-height: var(--mixin-G0eLQ3oCHyMf_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-jm6EJ9fPxoE4_font-family);
  border-radius: var(--mixin-jm6EJ9fPxoE4_border-top-left-radius)
    var(--mixin-jm6EJ9fPxoE4_border-top-right-radius)
    var(--mixin-jm6EJ9fPxoE4_border-bottom-right-radius)
    var(--mixin-jm6EJ9fPxoE4_border-bottom-left-radius);
  padding: var(--mixin-jm6EJ9fPxoE4_padding-top)
    var(--mixin-jm6EJ9fPxoE4_padding-right)
    var(--mixin-jm6EJ9fPxoE4_padding-bottom)
    var(--mixin-jm6EJ9fPxoE4_padding-left);
  border-top: var(--mixin-jm6EJ9fPxoE4_border-top-width)
    var(--mixin-jm6EJ9fPxoE4_border-top-style)
    var(--mixin-jm6EJ9fPxoE4_border-top-color);
  border-right: var(--mixin-jm6EJ9fPxoE4_border-right-width)
    var(--mixin-jm6EJ9fPxoE4_border-right-style)
    var(--mixin-jm6EJ9fPxoE4_border-right-color);
  border-bottom: var(--mixin-jm6EJ9fPxoE4_border-bottom-width)
    var(--mixin-jm6EJ9fPxoE4_border-bottom-style)
    var(--mixin-jm6EJ9fPxoE4_border-bottom-color);
  border-left: var(--mixin-jm6EJ9fPxoE4_border-left-width)
    var(--mixin-jm6EJ9fPxoE4_border-left-style)
    var(--mixin-jm6EJ9fPxoE4_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GV4f2ay5haAQ_color);
  padding-left: var(--mixin-GV4f2ay5haAQ_padding-left);
  border-left: var(--mixin-GV4f2ay5haAQ_border-left-width)
    var(--mixin-GV4f2ay5haAQ_border-left-style)
    var(--mixin-GV4f2ay5haAQ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2OM-jWAn8E8B_font-family);
  border-radius: var(--mixin-2OM-jWAn8E8B_border-top-left-radius)
    var(--mixin-2OM-jWAn8E8B_border-top-right-radius)
    var(--mixin-2OM-jWAn8E8B_border-bottom-right-radius)
    var(--mixin-2OM-jWAn8E8B_border-bottom-left-radius);
  padding: var(--mixin-2OM-jWAn8E8B_padding-top)
    var(--mixin-2OM-jWAn8E8B_padding-right)
    var(--mixin-2OM-jWAn8E8B_padding-bottom)
    var(--mixin-2OM-jWAn8E8B_padding-left);
  border-top: var(--mixin-2OM-jWAn8E8B_border-top-width)
    var(--mixin-2OM-jWAn8E8B_border-top-style)
    var(--mixin-2OM-jWAn8E8B_border-top-color);
  border-right: var(--mixin-2OM-jWAn8E8B_border-right-width)
    var(--mixin-2OM-jWAn8E8B_border-right-style)
    var(--mixin-2OM-jWAn8E8B_border-right-color);
  border-bottom: var(--mixin-2OM-jWAn8E8B_border-bottom-width)
    var(--mixin-2OM-jWAn8E8B_border-bottom-style)
    var(--mixin-2OM-jWAn8E8B_border-bottom-color);
  border-left: var(--mixin-2OM-jWAn8E8B_border-left-width)
    var(--mixin-2OM-jWAn8E8B_border-left-style)
    var(--mixin-2OM-jWAn8E8B_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-JJy0J-gtJ_qp_display);
  flex-direction: var(--mixin-JJy0J-gtJ_qp_flex-direction);
  align-items: var(--mixin-JJy0J-gtJ_qp_align-items);
  justify-content: var(--mixin-JJy0J-gtJ_qp_justify-content);
  list-style-position: var(--mixin-JJy0J-gtJ_qp_list-style-position);
  padding-left: var(--mixin-JJy0J-gtJ_qp_padding-left);
  position: var(--mixin-JJy0J-gtJ_qp_position);
  list-style-type: var(--mixin-JJy0J-gtJ_qp_list-style-type);
  flex-column-gap: var(--mixin-JJy0J-gtJ_qp_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CdhKvnhprZf3_display);
  flex-direction: var(--mixin-CdhKvnhprZf3_flex-direction);
  align-items: var(--mixin-CdhKvnhprZf3_align-items);
  justify-content: var(--mixin-CdhKvnhprZf3_justify-content);
  list-style-position: var(--mixin-CdhKvnhprZf3_list-style-position);
  padding-left: var(--mixin-CdhKvnhprZf3_padding-left);
  position: var(--mixin-CdhKvnhprZf3_position);
  list-style-type: var(--mixin-CdhKvnhprZf3_list-style-type);
  flex-column-gap: var(--mixin-CdhKvnhprZf3_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-KesrOv0tWRnu_color);
  font-size: var(--mixin-KesrOv0tWRnu_font-size);
  font-weight: var(--mixin-KesrOv0tWRnu_font-weight);
  line-height: var(--mixin-KesrOv0tWRnu_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-wJOekrhQ48JP_color);
  font-size: var(--mixin-wJOekrhQ48JP_font-size);
  font-weight: var(--mixin-wJOekrhQ48JP_font-weight);
  line-height: var(--mixin-wJOekrhQ48JP_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-EbwsS0tpslK-_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
